.corpoCadastro1 {
    background: rgb(79, 2, 157);
    background-image: linear-gradient(180deg, rgba(79, 2, 157, 1) 0%, rgba(3, 132, 49, 1) 100%);
    background-size: contain;
}


.logo {
    margin: auto;
    display: block;

    width: 250px;
    height: 50px;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

div {
    text-align: center;
}

input {
    margin: auto;
    display: block;
    width: 550px;
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
}

.entrar{
    text-decoration: none;
    color: white;
}

a {
    
}
.entrar {
    text-decoration: none;
    margin: auto;
    display: block;
    text-align: center;
    font-size: large;
    color: black;
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
}

select{
    margin: auto;
    display: block;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
}

