.corpoPrincipal {
    background: rgb(78, 4, 155);
    background: linear-gradient(0deg, rgba(78, 4, 155, 1) 0%, rgba(40, 55, 83, 1) 17%, rgba(18, 84, 41, 1) 47%, rgba(18, 84, 41, 1) 62%, rgba(18, 84, 41, 1) 69%);
    background-size: contain;
}

body {
    margin: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.logo {
    padding-left: 5px;
    padding-right: 5px;
}

.procurar {
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    margin: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.botao2>li>img {
    padding-left: 20px;
    display: flex;
    /*Centralizar horizontalmente */
    justify-content: flex-end;
}

/*Inicio da pagina*/
.inicio {
    display: flex;
    margin: 20px;
}

.inicio>div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
}

.banner {
    justify-content: end;
    width: 900px;

}

.titulogg {
    width: 477px;
}

.assistir {
    padding: 15px;
    margin: 10px;
}

h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h5 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: small;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.assistir {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;

}

/*CATÁLOGO*/
.lançadostexto {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.lançados {
    display: flex;
    justify-content: center;
    gap: 15px;
    overflow: scroll;
}

.lançados::-webkit-scrollbar {
    display: none;
}

.continuar {
    display: flex;
    justify-content: center;
    gap: 15px;
    overflow: scroll;
}

.continuar::-webkit-scrollbar {
    display: none;
}

.conteudo {
    width: 500px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px black;
}

/*GIFS*/

.garota:hover {
    content: url(../img/daisy.gif);
}

.office:hover {
    content: url(../img/theofc.gif);
}


.oceans8:hover {
    content: url(../img/oceans88.gif);
}


.derry:hover {
    content: url(../img/derryy.gif);
}


.pitch:hover {
    content: url(../img/fatamy.gif);
}


.broke:hover {
    content: url(../img/brokegirls.gif);
}


.fleabag:hover {
    content: url(../img/fleabagbible.gif);
}


.modern:hover {
    content: url(../img/mofy.gif);
}

.b99:hover {
    content: url(../img/b99.gif);
}


.friends:hover {
    content: url(../img/friendsbb.gif);
}

.himym:hover {
    content: url(../img/himym.gif);
}


.chris:hover {
    content: url(../img/chriis.webp);
}

.maluco:hover {
    content: url(../img/fresh.gif);
}


.patroa:hover {
    content: url(../img/mywife.gif);
}


.raven:hover {
    content: url(../img/ravenn.gif);
}


.hannah:hover {
    content: url(../img/hannah.gif);
}


.familia:hover {
    content: url(../img/familiaa.webp);
}


.clarencio:hover {
    content: url(../img/clarencioo.gif);
}


.titas:hover {
    content: url(../img/teentitansgo.gif);
}

.gumball:hover {
    content: url(../img/awog.webp);
}


.gravitty:hover {
    content: url(../img/stan.gif);
}

.universo:hover {
    content: url(../img/stevenuniverse.gif);
}


.padrinhos:hover {
    content: url(../img/odd.gif);
}

.extraordinario:hover {
    content: url(../img/wonders2.gif);
}


.ultimo:hover {
    content: url(../img/hicksaw.gif);
}

.estrelas:hover {
    content: url(../img/thefault.gif);
}


.goldfinch:hover {
    content: url(../img/the-goldfinch-tgf.gif);
}


.antes:hover {
    content: url(../img/me-before-you.gif);
}


.django:hover {
    content: url(../img/django.gif);
}



.paleblue:hover {
    content: url(../img/palee.gif);
}


.psycho:hover {
    content: url(../img/psychh.webp);
}


.dwd:hover {
    content: url(../img/dwdarling.gif);
}


.seven:hover {
    content: url(../img/brad.gif);
}



.knives:hover {
    content: url(../img/knivesout.gif);
}


.glassonion:hover {
    content: url(../img/glassonion.gif)
}


.blade:hover {
    content: url(../img/bladejoe.gif);
}


.freeguy:hover {
    content: url(../img/freee.gif);
}

.agente:hover {
    content: url(../img/gray.gif);
}


.black:hover {
    content: url(../img/black-adam-clap.gif);
}

.topgun:hover {
    content: url(../img/maverick.gif);
}


.max:hover {
    content: url(../img/madmaxx.webp);
}


.entrevista:hover {
    content: url(../img/entrevista.gif);
}


.before:hover {
    content: url(../img/jewish.gif);
}

.gentegrande:hover {
    content: url(../img/gg.gif);
}


.branquelas:hover {
    content: url(../img/whitechicks.gif);
}

.potter:hover{
    content: url(../img/potterr.gif);
}

.caribe:hover{
    content: url(../img/pirates-des-caraibes-pirates-of-the-caribbean.gif);
}

.Twilight:hover{
    content: url(../img/bella.gif);
}

.narnia:hover{
    content: url(../img/narniaa.gif);
}

.fast:hover{
    content: url(../img/furious.gif);
}

.guardioes:hover{
    content: url(../img/galaxy.gif);
}
/*rodapé*/
footer .politicas {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

footer .o {
    font-size: 10px;
    text-align: center;
    color: white;
}

.estrela {
    font-size: 10px;
    text-align: center;
    color: white;
}

.politicas {
    font-size: 10px;
    text-align: center;
    color: white;
}

.final {
    font-size: 9px;
    text-align: center;
    color: white;
}